<div>
    <twig:Alert variant="success">
        <twig:Alert:Description>
            This is a success alert!
        </twig:Alert:Description>
    </twig:Alert>

    <twig:Alert variant="danger">
        <twig:Alert:Header></twig:Alert:Header>
        <twig:Alert:Description>
            Die Beschreibung liefert mehr Kontext und sollte auch Handlungsoptionen aufzeigen, falls nötig.
        </twig:Alert:Description>
    </twig:Alert>

    <twig:Alert variant="warning">
        <twig:Alert:Header icon="true">
            Warnung
        </twig:Alert:Header>
        <twig:Alert:Description>
            Die Beschreibung liefert mehr Kontext und sollte auch Handlungsoptionen aufzeigen, falls nötig.
        </twig:Alert:Description>
    </twig:Alert>

    <twig:Alert variant="info">
        <twig:Alert:Title icon="true">
            Information
        </twig:Alert:Title>
        <twig:Alert:Description>
            Die Beschreibung liefert mehr Kontext und sollte auch Handlungsoptionen aufzeigen, falls nötig.
        </twig:Alert:Description>
    </twig:Alert>
</div>