{# @prop variant 'success'|'danger'|'warning'|'info' The visual style variant. Defaults to `primary` #}
{# @block content The alert content, typically includes `Alert:Title` and `Alert:Description` #}
{%- props variant = 'primary' -%}

{%- set style = html_cva(
    base: 'kern-alert',
    variants: {
        variant: {
            info: 'kern-alert--info',
            success: 'kern-alert--success',
            warning: 'kern-alert--warning',
            danger: 'kern-alert--danger',
        },
    },
) -%}

<div class="{{ style.apply({variant}, attributes.render('class')) }}" role="alert" {{ attributes }}>
    {%- block content %}{% endblock -%}
</div>