<div class="d-flex align-items-center gap-3">
    <twig:Button>Primary</twig:Button>
    <twig:Button variant="primary">Primary</twig:Button>
    <twig:Button variant="secondary">Secondary</twig:Button>
    <twig:Button variant="tertiary">Tertiary</twig:Button>
</div>