<twig:Card>
    <twig:Card:Image src="https://placehold.co/600x200" alt="Card image" />
    <twig:Card:Header>
        <twig:Card:Title as="h5">Card Title</twig:Card:Title>
    </twig:Card:Header>
    <twig:Card:Content>
        <twig:Card:Text>
            Card Content
        </twig:Card:Text>
    </twig:Card:Content>
    <twig:Card:Footer>
        <p>Card Footer</p>
    </twig:Card:Footer>
</twig:Card>